body {
    background-color:#142D4D;
    color:#ABABAB;
    font-family:Courier New, Courier, monospace"
}
img
<img src="https://i.pinimg.com/originals/51/59/42/515942b8ee6d77b4de286ba64406a0b5.gif" width="50" heigth="50" style="padding-left:200px">
</p><p style="padding-left:100px">because they're amazing<img src="https://i.pinimg.com/originals/51/59/42/515942b8ee6d77b4de286ba64406a0b5.gif" width="50" heigth="50" style="padding-left:200px"></p></i>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/VLkKiVIBxXU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
